.Banner {
    background-image: url('../../../static/WebDev.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Name, .Desc {
    font-size: 25pt;
    display: inline-block;
}

.Name {
    font-weight: bold;
}

.Desc {
    font-size: 15pt;
}

.DevImg {
    width: 100px;
    border-radius: 50%
}

.Name, .Desc, .DevImg {
    animation: dev;
    animation-duration: 2s;
}

@keyframes dev {
    0% { opacity: 0;}
    50% { opacity: 0.5};
    100% { opacity: 1;}
}

@media only screen and (min-width: 600px) {
    .Name, .Desc {
        font-size: 36pt;
        display: inline-block;
    }

    .Desc {
        font-size: 18pt;
    }

    .DevImg {
        width: 150px;
    }

}