.AboutGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.AboutGrid h1 {
    font-size: 20pt
}

.AboutGrid p {
    width: 70%;
    text-align: justify;
    font-size: 12pt
}

.AboutGrid a:link {
    color: black;
    text-decoration: underline;
}

.AboutGrid a:visited {
    color: black;
    text-decoration: underline;
}

.AboutGrid a:hover {
    color: darkblue ;
}

.AboutGrid a:active {
    color: lightblue ;
}

@media only screen and (min-width:600px) {

    .AboutGrid {
        padding-top: 15vh;
        padding-bottom: 15vh;
    }

    .AboutGrid p {
        font-size: 15pt
    }

    .AboutGrid h1 {
        font-size: 25pt
    }
}