html {
    scroll-behavior: smooth;
}

body {
    font-family: "Titillium Web";
    margin: 0;
    background: url('../../static/WebDev_Transparent.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.MainContent {
    color: white;
    padding: 5px
}