body {
    font-family: "Titillium Web";
    margin: 0;
    background: url('../../static/WebDev_Transparent.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.MainContent {
    color: white;
    padding: 5px
}