.ContactGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 15vh;
}

.DetailsGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:10pt;
}

.FooterImg {
    width: 125px
}

.FooterGrid {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width:600px) {

    .ContactGrid {
        padding-top: 10vh;
    }

    .FooterImg {
        width: 150px
    }

}