.Header {
    padding: 0px 10px 0px;
    background: #282828;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    overflow: hidden;
}

.Icon {
    display: flex;
    justify-content: flex-end;
}

.MenuItems {
    display: none
}

.Link:link {
    text-decoration: none;
    color: white
}

.Link:visited {
    text-decoration: none;
    color: white
}

.Link:hover {
    background-color: grey;
}

.Link:active {
    text-decoration: underline;
}

.SideDrawer {
    background-color: gray;
}

.Logo {
    display: flex;
    justify-content: flex-start;
    width: 65px
}

@media only screen and (min-width: 600px) {
    .MenuItems {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }
    
    .MenuItems a {
        display: inline;
        padding: 0px 10px 0px;
    }

    .Icon {
        display: none;
    }

    .Logo {
        width: 75px
    }

}
